fastapi==0.103.2
uvicorn==0.23.2
python-multipart==0.0.6
python-dotenv==1.0.0
cloudinary==1.44.1
sqlalchemy==2.0.23
passlib==1.7.4
bcrypt==4.1.2
PyJWT==2.8.0
gunicorn==21.2.0
aiofiles==23.2.1
pydantic==2.4.2
pydantic-core==2.10.1
alembic==1.12.1

# Postgres driver (binary only, no source build)
psycopg[binary]==3.1.12

# Build tools
pip>=25.1.1
setuptools>=70.0.0
wheel