fastapi==0.103.2
uvicorn==0.23.2
python-multipart==0.0.6
python-dotenv==1.0.0
cloudinary==1.44.1
sqlalchemy==2.0.23
passlib==1.7.4
bcrypt==4.1.2
PyJWT==2.8.0
gunicorn==21.2.0
aiofiles==23.2.1
pydantic==1.10.13
alembic==1.12.1

# PostgreSQL drivers (safe combo)
psycopg2-binary==2.9.9
psycopg[binary]==3.1.19

# Build tools
pip>=25.1.1
setuptools>=70.0.0
wheel